.pk{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    width: 70%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pk > div{
    border: 2px solid gray;
    background-size: cover;
    /* background-color: rgba(240, 176, 176, 0.326); */
    color: black;
    border-radius: 3px;
    font-weight: bold;
    text-decoration: solid;
}
input{
    padding: 5px;
    width: 30%;
}
.gh{
    padding: 3px;
    width: 10%;
    margin: 0px;
    margin-left: 3px;
}
